def timestamp   = new java.util.Date().format('yyyyMMddHHmmss')

params {
    // Core params that others might depend on 
    outputDir = "$launchDir/results"
    container = null
    containerAnnotate = null
    containerAssembly = null
    containerMag = null
    containerSkani = null
    containerSourmash = null
    containerCheckM = null
    containerHumann3 = null
    containerFastp = null
    condaEnv = null
    runId = null
    internetModule = null
    
    // Derived params that depend on core params
    storeDir = "${params.outputDir}/keys"
    publishDir = "${params.outputDir}/results"
    traceDir = "${params.outputDir}/pipeline_info"
    tmpDir = null  // System default if not specified
    containerCacheDir = "${params.outputDir}/container_cache"
    q2cacheDir = "${params.outputDir}/caches/main"
    q2TemporaryCachesDir = "${params.outputDir}/caches"
    additionalVolumeMounts = ""
    additionalContainerOptions = ""

    q2cacheDirExists = "ok"

    // Archiving settings
    archive = false
    archiveDir = "${params.outputDir}/archives"
    
    // Input/output settings
    email = null
    inputReadsCache = null
    inputReads = null
    inputReadsManifest = null
    metadata = null
    fondueAccessionIds = null

    retain {
        input = true
        subsampling = true
        fastp = true
        host_removal = true
    }

    // Default overall scaling factors
    overall_cpu_scale = 1.0
    overall_mem_scale = 1.0
    overall_time_scale = 1.0

    // Default task-specific multipliers
    cpu_intensive_task_multiplier = 1.0
    mem_intensive_task_multiplier = 1.0

    // Delay (seconds) before a failed task is resubmitted via errorStrategy 'retry'
    retryDelaySeconds = 120

    weblog {
        enabled = false
        url = ""
        basicToken = ""
    }
}

includeConfig 'conf/defaults.config'    // Default values for all workflow modules
includeConfig 'conf/resources.config'   // Resource allocation
includeConfig 'conf/profiles.config'    // Profiles

// Pipeline reporting
trace {
    enabled     = true
    file        = "${params.traceDir}/${timestamp}_trace.txt"
}
timeline {
    enabled     = true
    file        = "${params.traceDir}/${timestamp}_timeline.html"
}
report {
    enabled     = true
    file        = "${params.traceDir}/${timestamp}_report.html"
}
dag {
    enabled     = false
    file        = "${params.traceDir}/${timestamp}_dag.svg"
}
